.voteScreen {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.voteScreen__scores{
    display: flex;
    margin-top: 2%;
    width: 50%;
    justify-content: space-between;
}
.voteScreen__scoreCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.voteScreen__scoreCard > h3{
    color: rgb(0, 49, 139);
}
.voteScreen__card {
	display: flex;
	flex-direction: column;
	width: 30vw;
	height: 20vh;
	margin-top: 3%;
	border: 1px solid rgb(209, 209, 209);
	border-radius: 30px;
    align-items: center;
    padding: 35px;
}
.voteScreen__partyPanel {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.voteScreen__partyPanel > h3 {
	color: rgb(58, 58, 58);
}
.voteScreen__dropDown {
	margin-left: 50px;
}
.voteScreen__voteButton{
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(163, 226, 245);
    border: none;
    margin-top:10%
}
